<style>
body{
  background-color: powderblue;
}
hr{
border-style:none;
border-top-style:dotted;
border-color:white;
border-width:5px;
width:20%;
height:0px;
}
h1{
  color:yellow;
}
.meme{
  background-color:red;
}
</style>
